button:nth-child(2) {
  margin-right: 20px;
  margin-left: auto;
  width: 120px;
  height: 50px;
  background-color: green;
  color: white;
  border: 1px black solid;
  text-align: center;
  font-weight: bold;
}
button:nth-child(2):hover {
  background-color: white;
  color: green;
  cursor: pointer;
}

button:first-child {
  margin-left: 300px;
  width: 120px;
  height: 50px;
  background-color: red;
  color: white;
  border: 1px black solid;
  text-align: center;
  font-weight: bold;
}
button:first-child:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

body {
  display: flex;
}